[package]
name = "store"
version = "0.1.0"
edition = "2024"

[dependencies]
domain = { path = "../domain" }
thiserror.workspace = true
chrono.workspace = true
uuid.workspace = true
sqlx = { workspace = true, features = ["migrate"] }
